@page
@model Mission09_ld365.Pages.TransactionCompletionModel
@{
}

<div class="text-center">
    <h2> Your order will be sent to you soon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>